
<div id="contact">
    <div id="contactCont" class="container">

        <div class="row">
            <div class="col-12 col-md-6">

                <h2>Contact</h2>

                <p>You can get in touch directly from this reactive form made with Angular.<br>
                    You can also contact me or follow me through my social networks.</p>
            
                <div id="redes" class="row mt-6">
                    <div class="col"><a href="#"><img src="assets/img/icons/github_A_web.svg" alt="GitHub"></a></div>
                    <div class="col"><a href="#"><img src="assets/img/icons/linkedin_A_web.svg" alt="Linkedin"></a></div>
                    <div class="col"><a href="#"><img src="assets/img/icons/instagram_A_web.svg" alt="Instagram"></a></div>
                    <div class="col"><a href="#"><img src="assets/img/icons/facebook_A_web.svg" alt="Facebook"></a></div>

                </div>
            </div>
            <div class="col-12 col-md-6 mt-3">

                <form target="_blank" action="https://formsubmit.co/alejoronconi.art@gmail.com" method="POST" class="row g-3 needs-validation was-validated">
                        <div class="row">
                            <div class="col-12">
                                <!-- ========== INPUT MESSAGE ===========-->
                                <div class="form-group mt-2">
                                        <textarea type="text" id="message" name="message" placeholder="Escribe tu mensaje"  class="form-control" cols="30" rows="5" required></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
    
                                <!-- ========== INPUT NAME ===========-->
                                <div class="form-group mt-2">
                                    <input type="text" name="name"  class="form-control" id="name" placeholder="Name" required>
                                </div>
    
                            </div>

                            <div class="col-6">
    
                            <!-- ========== INPUT LAST NAME ===========-->
                                <div class="form-group mt-2">
                                 <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Last Name" required>
                                </div>
    
                            </div>
                        </div>

                    

                        <div class="row">
                            
                            <div class="col">
                                <div class="form-group mt-2">
                                    <input type="email" name="email" class="form-control" id="email" placeholder="Email Address" required>
                                </div>
                            </div>                     
        
                        </div>
                   
                    <div class="row">
                        
                        <div class="col">
                            <button type="submit" name="sendMessage" id="sendMessage" class="btn btn-dark btn btn-block">Send</button>
                        </div>                     
    
                    </div>

                    
                    <!-- ============= RESPUESTA AUTOMÁTICA ============= -->
                    <input type="hidden" name="_subject" value="Mensaje desde PortafolioWeb Alejandro Ronconi">
                    <input type="hidden" name="_autoresponse" value="Gracias por escribirme, en breve me pondré en conacto.">
                    <input type="hidden" name="_template" value="table">
                    
                </form>

                

<!--

               
            
            -->




            </div>
        </div>
        

        
        

    </div>
</div>