
    <nav class="navbar navbar-expand-sm fixed-top"  >
        
            <div class="container-fluid">
            <div id="logo">
                <img src="./../assets/img/logo.png">
            </div>
            <a class="navbar-brand" href="#">ALEJANDRO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                
                
                <img id="btnlist" src="./../../../assets/img/bars-solid.svg">

                
            </button>

                <div class="collapse navbar-collapse " id="navbarNav" >
                    <ul class="navbar-nav text-uppercase">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/about']">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/projects']">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/readme']">Readme</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/geography']">Geography</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/contact']">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        
    </nav>


  
  
