<div id="geograpyPage">
    <div class="tituloEncabezado">
        <h2>Geography</h2>
        <p>In this section I will show you some works related to my knowledge of Geography and GIS, subjects in which I have graduated from UADER and specialized in UNC, CONAE, etc.</p>
    </div>  

     <!--===========MAPA mapbox==========-->    
    <div id="mapa-mapbox"></div>
    
    <div class="mapaTitle">
        <h2>Map using Leaflet</h2>
    </div>  

    <!--===========MAPA leaflet==========--> 
    <div id="mapa-leaflet"></div>  

    <p>Leaflet me pareció más sencillo para generar el mapa. Me falga aún agregar un archivo GeoJson para visualizar distintas cosas, tipo PopUps e iformación. Puede ser de salas de cines.</p>
    <div class="container">
        <!--===========MAPA Y TODO LO RELACIONADO A GEOGRAFIA===========-->    
              
    </div>
</div>
