<div id="geograpyPage">
    <div class="tituloEncabezado">
        <h2>Geography</h2>
        <p>In this section I will show you some works related to my knowledge of Geography and GIS, subjects in which I have graduated from UADER and specialized in UNC, CONAE, etc.</p>
    </div>  

    
    <div id="mapa-mapbox"></div>
    <div class="container">
        <!--===========MAPA Y TODO LO RELACIONADO A GEOGRAFIA===========-->
        
                    
        
    
                
           
                
    </div>
</div>
