
<div id="readme">
    <h2>Readme</h2>
    <div class="container">
        
        <h3>About construction this web</h3>
        <p>En esta sección contaré cómo están confeccionadas las secciones de este portafolio.</p>
        <p>La idea de cada página, y las funcions y herramintas utilizadas.</p>
        <p>El objetivo final es aplicar y mostrar los conocimientos descritos en las habilidades.</p>
        <p>El diseño de la pagina, cómo el diseño de iconos, y fondos, son propios. Al igual que los mapas, a excepción de el recurso de Open Layer.</p>
        <p>Toda esta info podría estar traducida en un archivo .json (hay que investigar un poco eso).</p>
        
        <h3>El formulario de contacto</h3>
        <p>Esta hecho en base a Formulario Reactivo que propone Angular.</p>
    </div>
</div>