
<div id="readme">
    <div class="tituloEncabezado">
        <h2>Readme</h2>
        <p>En esta sección contaré cómo están confeccionadas las secciones de este portafolio.</p>
        <p>La idea de cada página, las funciones, librerías y herramientas utilizadas.</p>
    </div>
   
    <div class="container">
        <div class="row">
            <div class="col-12 mt-4 col-sm-6">
                <h3>About (home)</h3>
                <p>Esta página esta creada con <span class="resaltado">Angular, bootstrap, jQuery, jQueryUI</span>, y <span class="resaltado">Fontweasome.</span></p>
                <p>Una base de datos en Firebase, conexión a servicios de mapas <span class="resaltado">Mapbox</span> y <span class="resaltado">Leaflet</span>.</p>
                <p>Informacion en archivos Json; y GeoJson para vincular con los mapas.</p>
                <p>Finalmente, hice un rediseño de los íconos de softwares y herramientas que manejo. También diseñé las imágenes de toda la web.</p>
            
                <h6>Encabezado</h6>
                <p>Para este simple slider, utililcé <span class="resaltado">Bootstrap</span>, lo confiugré desde la hoja de estilos para que se adapte a distintas resoluciones.</p>
                <p>La imagen de fondo fue creada y editada para que quede en equilibrio visual con el resto de la web.</p>

                <h6>Sección "PROFILE"</h6>
                <p>En esta sección utilicé <span class="resaltado">Firebase</span> con una pequeña base de datos, con información de pefil.</p>
                <p>Los iconos en este caso, son propios del proyecto alojados junto al banco de imagenes y datos.</p>

                <h6>Sección "Tools & Skills"</h6>
                <p>En esta sección presento los iconos de las herramientasa que utilizo habitualmente en mis proyectos web. Los iconos los trabajé en <span class="resaltado">Illustrator</span>, y los exporte como .svg; forman parte del banco de imagenes y datos de este proyecto.</p>
                <hr>

                <h3>Formulario de contacto</h3>
                <p>Existen varias formas de hacer un formulario, Angular lo proporciona y de hecho lo he aplicado en los cursos que tomé.</p>
                <p>Para agregar otra "herramienta" a mis conocimientos, utilicé el servicio que ofrece <span class="resaltado">formsubmit.co</span>, y con las clases de <span class="resaltado">Bootstrap</span> configuré el control del envío.</p>
                <hr>
                
            </div>
            <div class="col-12 mt-4 col-sm-6">
                <h3>CV</h3>
                <p>Para esta sección utilicé una idea standar de cónfiguración de CV, y al igual que toda la web, está diseñada bajo la premisa <span class="resaltado">Mobile First</span>.</p>
                <p>Los iconos de los títulos los agregué mediante <span class="resaltado">Fontweasome</span>; el progress bar de <span class="resaltado">Bootstrap</span> que me permite mostrarte mi nivel de manejo de esas herramientas, tanto de progamación web, diseño, dibujo y geografía SIG.</p>
                <p>Los iconos de las herramientas los rediseñe para esta web, con la intención de mostrarte el trabajo íntegro de diseño, y habilidades en <span class="resaltado">Illustrator</span>.</p>
                <hr>

                <h3>Projects</h3>
                <p>En esta página presento mis proyectos haciendo uso de las CARDS de <span class="resaltado">Bootstrap</span>. Porás dirigirte a las páginas de mis proyectos alojadas en GitHub Pages.</p>
                <hr>

                <h3>Geography</h3>
                    <p>Lo referido a Geografía, con el uso de mapas webs como <span class="resaltado">Leaflet</span> y <span class="resaltado">MapBox</span> lo organicé en este sección.</p>
                    <p>Por mi formación como Licenciado en Geografía, con estudios posteriores en Sistemas de Información Geográfica y Teledetección, decidí mostrar estos proyectos aparte. Habitualmente utilizo QGIS para mi trabajo, manejando información vectorial en formatos .shp, conectando con servidores de mapas, e imagenes satelitales GeoTiff.</p>
                    <p>Esto me permite digitalizar infomación, bajo distintas proyecciones cartográficas, esportar dicha información geográfica y poder utilzarla en estos mapa web.</p>
                    <p>Cómo ejemplo utilicé unos simples datos, con distintas funciones que nos ofrece <span class="resaltado">Leaflet</span> y <span class="resaltado">MapBox</span>, PopUp, Layers, Tiles, etc.</p>
                    <p>Pero la mejor manera de ver esto funcionando es clickeando este <a href="https://aron1984.github.io/test-escuelas/" target="_blank">link</a>, que te llevará a una <span class="resaltado">GitHub Page</span> de mi repositorio.</p>
                <hr>
            
            </div>
        </div>
    </div>
</div>