<div id="cv">
    <div class="tituloEncabezado">
        <h2>RONCONI ALEJANDRO</h2>
        <p>Web developer & Lic. en Geografía & Diseñador Gráfico.</p>
    </div>      
    <div class="container">
     
        <div class="row">
            <div class="col-md-4 mt-4 col-12">
                <h4><i class="fas fa-address-card"></i>  Datos personales.</h4>
                <hr>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-1">
                        <i class="fas fa-user-astronaut"></i>
                    </div>
                    <div class="col-10">
                        <h6>  Alejandro Ronconi</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-1">
                        <i class="far fa-envelope"></i>
                    </div>
                    <div class="col-10">
                        <h6>  ronconialejandro@gmail.com</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-1 ml-2">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="col-10">
                        <h6>  Paraná - Entre Ríos</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-1">
                        <i class="fas fa-birthday-cake"></i> 
                    </div>
                    <div class="col-10">
                        <h6> Mayo del 1984</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-1">
                        <i class="far fa-map"></i>
                    </div>
                    <div class="col-10">
                        <h6>  Argentina</h6>
                    </div>
                </div>
                
                <hr>

                <h4><i class="fas fa-map-marker-alt"></i>  Mis redes</h4>
                <ul>
                    <li><i class="fas fa-angle-right"></i> github.com</li>
                    <li><i class="fas fa-angle-right"></i> linkedin</li>
                    <li><i class="fas fa-angle-right"></i> instagram</li>
                    <li><i class="fas fa-angle-right"></i> artstation</li>
                </ul>
                <h4><i class="fas fa-layer-group"></i>  Competencias.</h4>
                <h6 class="ms-4">Developer</h6>

                <ul>
                    <li><i class="fas fa-angle-right"></i> Angular</li>
                        <div class="progress" style="height: 3px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 95%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    <li><i class="fas fa-angle-right"></i> Bootstrap</li>
                        <div class="progress" style="height: 3px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    <li><i class="fas fa-angle-right"></i> JavaScript</li>
                        <div class="progress" style="height: 3px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    <li><i class="fas fa-angle-right"></i> jQuery & jQuery UI</li>
                        <div class="progress" style="height: 3px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    <li><i class="fas fa-angle-right"></i> Html 5</li>
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 85%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <li><i class="fas fa-angle-right"></i> CSS 3</li>
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <li><i class="fas fa-angle-right"></i> Firebase</li>
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <li><i class="fas fa-angle-right"></i> Node JS</li>
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <li><i class="fas fa-angle-right"></i> Git & GitHub</li>
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <li><i class="fas fa-angle-right"></i> Leafet</li>
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 85%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <li><i class="fas fa-angle-right"></i> MapBox</li>
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                </ul>
                <h6 class="ms-4">Software desing & GIS</h6>
                <ul>
                    <li><i class="fas fa-angle-right"></i> Photoshop</li>
                        <div class="progress" style="height: 3px;">
                            <div class="progress-bar  bg-info" role="progressbar" style="width: 95%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    <li><i class="fas fa-angle-right"></i> Illustrator</li>
                        <div class="progress" style="height: 3px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    <li><i class="fas fa-angle-right"></i> Clip Studio Paint (Drawing)</li>
                        <div class="progress" style="height: 3px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    <li><i class="fas fa-angle-right"></i> Blender (3D)</li>
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <li><i class="fas fa-angle-right"></i> QGIS</li>
                        <div class="progress" style="height: 3px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 92%" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <li><i class="fas fa-angle-right"></i> Google My Maps</li>
                        <div class="progress" style="height: 3px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <li><i class="fas fa-angle-right"></i> Google Earth</li>
                        <div class="progress" style="height: 3px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>


                </ul>

                <hr>

                <h4><i class="fas fa-clipboard-check"></i> Idiomas</h4>
                <ul>
                    <li><i class="fas fa-angle-right"></i> Ingles básico</li>
                </ul>
                
                <hr>

                <h4><i class="fas fa-icons"></i> Pasatiempos e Interés</h4>
                <ul>
                    <li><i class="fas fa-angle-right"></i> Comics, arte, diseño.</li>
                    <li><i class="fas fa-angle-right"></i> Reggae & rock</li>
                    <li><i class="fas fa-angle-right"></i> Padel</li>
                </ul>
                


                    
                    
                    
                    
            </div>

            <div class="col-md-8 mt-4 col-12" >
                <h3>Perfil</h3>
                <p>Si bien tengo el título universitario de Lic. en Geografía, y algunas especializaciones en Sistemas de Información Geográfica; estudié diseño web, diseño gráfico y naturalmente cómo hobby estudié dibujo (cómic de super héroes). Más recientemente retomé mi formación en desarrollo web (2021), comencé con JavaScript, TypeScript como lenguaje de base, Bootstrap y Angular como framework.</p> 
                <p>Estoy tomando cursos pagos y gratuitos en Udemy constantemente.</p>     
                <p>Mi conocimiento de herramientas de dibujo y diseño, cómo son Photoshop e Illustrator, han ayudado a avanzar rápido en el diseño web, y sólo centrarme en la parte exclusiva de programación. Cómo también el conocimiento adquirido en relación composición y equilibrio del dibujo y diseño.</p>
                <p>Inevitablemente las formaciones en Geografía SIG, diseño, dibujo, programación se unen en el manejo y diseño de Mapas Webs.</p>
                <p>Todo esto puedes verlo en funcionamiento en mi página web.</p>
                   
                <hr>

                <h3>Formación</h3>
                    <div class="row">
                        <div class="col-8" >
                            <h6>Lic. en Geografía</h6>
                            <p>Carrera universitaria UADER FHAyCS - Paraná, Entre Ríos.</p>
                        </div>
                        <div class="col-4">
                            <h6>Diciembre 2010</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h6>Web Developer</h6>
                            <p>Formación que comencé por el año 2009, primero en Diseño Web; después en PHP. WordPress para proyectos personales en años posteriores.<br>
                            Actualmente especializandome en JavaScript, Angular, Bootstrap, Firebase, Leaflet.</p>
                        </div>
                        <div class="col-4">
                            <h6>Diciembre 2021</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <h6>Diseñador Gráfico</h6>
                            <p></p>
                        </div>
                        <div class="col-4">
                            <h6>Julio 2019</h6>
                        </div>
                    </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum provident repellat earum vitae maiores possimus officia laboriosam sed illum sequi, magnam perferendis nihil animi reprehenderit pariatur doloribus doloremque molestiae. Molestiae!</p>
                <hr>

                <h3>Habilidades</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum fugit eaque natus ipsum suscipit, repellendus molestias repudiandae illo maiores ut et quam corrupti beatae quia architecto reiciendis, distinctio soluta nam?</p>
                <hr>
            </div>
        </div>
    
       


        
       
        
    </div>

    <p>La información de los proyectos presentados en las CARDAS de bootstrap, son solicitadas a una base de datos en FIREBASE a modo de ejemplo.</p>
</div>
