

<div id="project">
    <div class="tituloEncabezado">
        <h2>Projects</h2>
        <p>I share with you a quick list of my latest projects in different areas.</p>
    </div>      
    <div class="container">
        
        <div class="cardsProjects">
            <h3>GitHub Pages</h3>
            <p>Puedes visitar navegar por mis proyectos en repositorio.</p>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100 pt-1">
                        <img src="assets/img/escuelas_mapa_1.jpg" class="card-img-top mt-2" alt="">
                        <div class="card-body">
                        <h5 class="card-title">Mapa con Leaflet</h5>
                        <h6 class="card-text">Web maps</h6>
                        <p class="card-text">Contribución I.S.P.E.E. Relevamiento y georreferencia de los establecimientos educativos de la provincia de Entre Ríos.</p>
                        <p class="card-text"></p>
                        <p class="card-text"><a href="https://aron1984.github.io/test-escuelas/" target="_blank">Link de GitHub Pages</a></p>
                        </div>
                        <div class="card-footer">
                        <small class="text-muted">Designed in Octubre 2021</small>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 pt-1">
                        <img src="assets/img/escuelas_gmaps.jpg" class="card-img-top mt-2" alt="">
                        <div class="card-body">
                        <h5 class="card-title">Mapa con Google My Maps</h5>
                        <h6 class="card-text">Web maps</h6>
                        <p class="card-text">Google My Maps. Información creada en QGIS, importada desde google maps.</p>
                        <p class="card-text"></p>
                        <p class="card-text"><a href="https://www.google.com/maps/d/viewer?mid=1BvO0yX2qyzyZPUyQOWto8SPchfFWNIMj&ll=-31.993396438340575%2C-59.23563177971387&z=7" target="_blank">Link My Map</a></p>
                        </div>
                        <div class="card-footer">
                        <small class="text-muted">Designed in Agosto 2021</small>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 pt-1">
                        <img src="" class="card-img-top mt-2" alt="">
                        <div class="card-body">
                        <h5 class="card-title">Portafolio ejemplo</h5>
                        <h6 class="card-text">Web JavaScript</h6>
                        <p class="card-text">Práctica de curso Angular. Creación de un portafolio aplicando Bootstrap, Firebase, Fontweasome, jQuery.</p>
                        <p class="card-text"></p>
                        <p class="card-text">Link de GitHub Pages</p>
                        </div>
                        <div class="card-footer">
                        <small class="text-muted">Designed in Agosto 2021</small>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>


        <div class="cardsProjects">
            <h3>My works</h3>
            <p>Puedes visitar navegar por las webs de cada carta para ver mi trabajo funcionando.</p>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col" *ngFor="let proyectosA of infoProject.project">
                    <div class="card h-100 pt-1">
                        <img src="assets/img/{{proyectosA.url}}.png" class="card-img-top mt-2" alt="{{proyectosA.name}}">
                        <div class="card-body">
                        <h5 class="card-title">{{proyectosA.name}}</h5>
                        <h3 class="card-text">{{proyectosA.category}}</h3>
                        <p class="card-text">{{proyectosA.descrip}}</p>
                        <p class="card-text">@{{proyectosA.insta}}</p>
                        <p class="card-text">{{proyectosA.web}}</p>
                        </div>
                        <div class="card-footer">
                        <small class="text-muted">Designed in {{proyectosA.anio}}</small>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    
        
        <!-- MEJORAR: Tenemos que meter aglunos proyectos de mapa, con diseño, etc.-->
        <!-- <div class="cardsProjects">
            <h3>Geography</h3>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                <div class="card h-100">
                    <img src="../../../assets/img/tis_p_64_web.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                </div>
                
                
            </div>
        </div> -->


        
        <!-- <div class="cardsProjects">
            
            <h3>Drawing</h3>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                </div>
                
                
            </div>
        </div> -->
        
    </div>

    <p>La información de los proyectos presentados en las CARDAS de bootstrap, son solicitadas a una base de datos en FIREBASE a modo de ejemplo.</p>
</div>


