
<section id="profile" class="sector">
        
        <div class="row align-items-start">
            <div class="col-sm-6 col-md-6">
                <h3>PROFILE</h3>
                <p>Alejandro Ronconi</p>
                <p>4/5/84</p>
                <p>Paraná - ER / Argentina</p>
                <p>alejoronconi.art@gmail.com</p>
            </div>
            <div class="col-sm-6 col-md-6">
                <img src="../../../assets/img/logo.png" class="fotoPerfil" alt="Imagen de perfil">
            </div>
        </div>
        <div clas="row align-items-start ">
            <div class="col-sm-12 col-md-12 mt-3">
                <div class="col-sm-12">

                    <app-map></app-map>
    
                </div>
            </div>
        </div>    
        
        
    </section>
        

        
        <!-- 
        <iframe style="border: none;" src="https://aron1984.github.io/mapa/">

        </iframe>
        -->      



