
<section id="profile" class="sector">
        <div class="container">
            <div class="row align-items-start">
                <div *ngFor="let infoA of infowe.persona" class="pe-3 col-sm-6 col-md-6 pe-md-5">
                    <h3 class="fw-bold display-6">PROFILE</h3>
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-user-astronaut"></i>
                        </div>
                        <div class="col-11 ps-0">
                            <span class="bname">{{infoA.name}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-birthday-cake"></i>
                        </div>
                        <div class="col-11 ps-0">
                            <p>{{infoA.birth}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="col-11 ps-0">
                            <p>{{infoA.location}}, <img src="assets/img/icons/arg_03.png" title="" alt="Argentina" style="width: 1.5rem; vertical-align: middle;"></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-1">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="col-11 ps-0">
                            <p>{{infoA.email}}</p>
                        </div>
                    </div>

                    
                    <br>
                    
                    

                    <h5>Interests</h5>
                    <div class="row">
                        <div class="col">
                            <p><i class="fas fa-code"></i>&nbsp;Web developer, studying to be a good fullstack developer.</p>
                            <p><i class="far fa-object-ungroup"></i>&nbsp;Graphic design. I like to design logos and web pages and much more.</p>
                            <p><i class="fas fa-broom"></i>&nbsp;Drawing and illustration, super heroes comic, simpson style, cartoon.</p>
                            <p><i class="fas fa-map-marked-alt"></i>&nbsp;As a Graduate in Geography I am interested and I am in constant contact with Geographic Information Systems (GIS). I am currently studying the integration of maps in web applications.<br>
                                    <span class="text-muted">Then I leave a screenshot of and link to a device about it.</span></p>
                        </div>

                    </div>
                   
                </div>
                <div class="col-sm-6  col-md-6">
                    <app-map></app-map>
                </div>
            </div>
        
            <!--===================== MY SKILS & TOOLS PREFER =====================-->
            <div id="tools" class="mb-2 mb-md-2">
                <h3  class="fw-bold display-6">Tools & Skills</h3>
                <h4>Web developer</h4>
                <div class="row row-cols-12">
                    <div class="col-12">
                        
                        <div class="row row-cols-12">
                            <div class="col-3 col-sm-2 col-lg-1"><img src="assets/img/icons/angular_A_web.svg" title="Angular" alt="Angular"></div>
                            <div class="col-3 col-sm-2 col-lg-1"><img src="assets/img/icons/javascript_A_web.svg" title="JavaScript" alt="Javascript"></div>
                            <div class="col-3 col-sm-2 col-lg-1"><img src="assets/img/icons/typescript_A_web.svg" title="Typescript" alt="Typescript"></div>
                            <div class="col-3 col-sm-2 col-lg-1"><img src="assets/img/icons/html5_A_web.svg" title="Html5" alt="Html5"></div>
 
                            <div class="col-3 col-sm-2 col-lg-1"><img src="assets/img/icons/css3_A_web.svg" title="Css3" alt="Css3"></div>
                            <div class="col-3 col-sm-2 col-lg-1"><img src="assets/img/icons/jquery_A_web.svg" title="jQuery" alt="jQuery"></div>
                            <div class="col-3 col-sm-2 col-lg-1"><img src="assets/img/icons/jqueryui_A_web.svg" title="jQuery UI" alt="AjQuery Ui"></div>
                            <div class="col-3 col-sm-2 col-lg-1"><img src="assets/img/icons/bootstrap_A_web.svg" title="Bootstrap" alt="Bootstrap"></div>
 
                            <div class="col-3 col-sm-2 col-lg-1"><img src="assets/img/icons/vscode_web.svg" title="VSCode" alt="VSCode"></div>
                            <div class="col-3 col-sm-2 col-lg-1"><img src="assets/img/icons/git_A_web.svg" title="Git" alt="Git"></div>
                            <div class="col-3 col-sm-2 col-lg-1"><img src="assets/img/icons/github_A_web.svg" title="GitHub" alt="Github"></div>
                            <div class="col-3 col-sm-2 col-lg-1"><img src="assets/img/icons/firebase_A_web.svg" title="Firebase" alt="Firebase"></div>

                            <div class="col-3 col-md-2 col-lg-1"><img src="assets/img/icons/nodejs_A_web.svg" title="NodeJS" alt="NodeJS"></div>
                            <div class="col-3 col-md-2 col-lg-1"><img src="assets/img/icons/robomongo_A_web.svg" title="Demonio" alt="Demonio"></div>
                            <div class="col-3 col-md-2 col-lg-1"><img src="assets/img/icons/mongodb_A_web.svg" title="MongoDB" alt="MongoDB"></div>
                            <div class="col-3 col-md-2 col-lg-1"><img src="assets/img/icons/postman_A_web.svg" title="PostMan" alt="PostMan"></div>
                        </div>
                    </div>
                </div>

                <h4>Design & illustration</h4>

                <div id="tools" class="row row-cols-12">
                    <div class="col-12">
                        
                        <div class="row row-cols-12">
                            <div class="col-3 col-sm-2 col-lg-1"><img src="assets/img/icons/illustrator_A_web.svg" title="Illustrator" alt="Illustrator"></div>
                            <div class="col-3 col-sm-2 col-lg-1"><img src="assets/img/icons/photoshop_A_web.svg" title="Photoshop" alt="Photoshop"></div>
                            <div class="col-3 col-sm-2 col-lg-1"><img src="assets/img/icons/clipstudio_A_web.svg" title="Clip Studio Paint" alt="Clip Studio Paint"></div>
                            <div class="col-3 col-sm-2 col-lg-1"><img src="assets/img/icons/blender_A_web.svg" title="Blender" alt="Blender"></div>
                        </div>
                    </div>

                    
                </div>

                <h4>Maps, Geography & GIS</h4>
                <div id="tools" class="row row-cols-12">
                    <div class="col-12">
                        
                        <div class="row row-cols-12">
                            <div class="col-3 col-sm-2 col-lg-1"><img src="assets/img/icons/qgis_A_web.svg" title="QGIS" alt="QGIS"></div>
                            <div class="col-3 col-sm-2 col-lg-1"><img src="assets/img/icons/googleearth_A_web.svg" title="Google Earth" alt="Google Earth"></div>
                            <div class="col-3 col-sm-2 col-lg-1"><img src="assets/img/icons/googlemaps_A_web.svg" title="Google Maps" alt="Google Maps"></div>
                            <div class="col-3 col-sm-2 col-lg-1"><img src="assets/img/icons/openleyer_A_web.svg" title="Open Layer" alt="Open Lyer"></div>
                            <div class="col-3 col-sm-2 col-lg-1"><img src="assets/img/icons/mapbox_A_web.svg" title="MapBox" alt="Map Box"></div>
                            <div class="col-3 col-sm-2 col-lg-1"><img src="assets/img/icons/leaflet_A_web.svg" title="Leaflet" alt="Leaflet"></div>
                        </div>
                    </div>
                </div>

            </div>

            <button class="buttonmore mt-2 mt-md-3  " type="button" href="#">More details of my skils</button>
        
        </div>
    </section>
        

        
        <!-- 
        <iframe style="border: none;" src="https://aron1984.github.io/mapa/">

        </iframe>
        -->      



