<div id="perfil" style="margin: 0px;">
    <section id="profile" class="sector">
        
        <div class="row align-items-start">
            <div class="col">
                <h2>PROFILE</h2>
                <P>Alejandro Ronconi</P>
                <p>4/5/84</p>
                <p>Paraná - ER / Argentina</p>
                <p>alejoronconi.art@gmail.com</p>
            </div>
            <div class="col">
                <div id="map">
                    <iframe src="#">

                    </iframe>
                </div>
            </div>
        </div>
            

            
    </section>
</div>

