/*text responisive*/
/*
p {
    font-size: calc(100% + 1vw + 1vh);
  }
*/

.container-fluid{
    margin-left: 1.75rem;
    margin-right: 1.75rem;
}

/* LOGO REVIEW: Efecto mouseover*/


#logo{
    width: 70px;
    padding: 10px;
    position:inherit;
    /*top: 28px; left: 50px;*/
    
}
/*
#logo{
    width: 2.5rem;
    margin-right: 2rem;
}
*/
#logo img{
    width: 80%;
    transition:all 1.1s ease;    
}

#logo img:hover{
    transform: scale(125%);
    transition:all 1.1s ease;    
 }

/* Menu de navegacion */

.navbar{
  background-color: rgba(0, 0, 0, 0.8);
    
    
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1rem;
    color: white;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
}

#iconmenu{
    color: #f2f2f2;
}

nav a{
    color: #f2f2f2;
}


/* links de nav efectos*/

.nav-item :hover{
    background-color: rgb(8,87,195, 0.5);
    color: #f2f2f2;
}

.nav-item{
    text-align: center;
}

.nav-item a{
    color: #f2f2f2;
}



#btnlist{
    width: 1.5rem;
    color: #f2f2f2;
}

#welcome{
    padding-top:6rem;
    padding-bottom: 0.5rem;
    
}
#welcome h2{
    padding-left: 1rem;
    color: #999999;
    
}

#welcome span{
    color: #f2f2f2;
    font-weight: bold;
}


#slider{
    margin-top:1.5rem;
}

.carousel-item {
    height: 20rem;
    color: #999999;
    padding: 3rem 2.5rem 3rem 2.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top:1.2rem;
    margin-left: 0.1rem;
    
}

.carousel-item span{
    color:#f2f2f2;
}

#boton-general{
    padding: auto;
    width: 7rem;
    height: 3rem;
    color:#f2f2f2;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    margin:1rem 0 0.2rem 0rem;
}

.carousel-control-next, .carousel-control-prev {
    width: 10%;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}

/*segunda seccion: profile*/
#cuerpo p{
    color: #eeeeee;
    
    
}
#cuerpo h3{
    color: #999999;
    
}

/* ============= PERFIL==============*/
/*
#profile{
    min-height: 30rem;
    background-image: url(./assets/img/fondo_res_06.jpg);
    padding: 3rem 1rem 3rem 1rem;
     
}
*/
#profile svg{
    color:#16c4f0;
}
.fotoPerfil{
    width: 6rem;
    height: 6rem;
}

h5{
    color: #999999;
}

#profile p{
    margin-bottom: 0.3rem;
    color: #999999;
    /*font-size: calc(100% + 1vw + 1vh);*/
    
}


@media (min-width: 0px){
        /* cabecera */
    #cabecera{
        background-image: url("./assets/img/curvas_06.jpg");
        height: 640px;
    }
    #profile{
        min-height: 30rem;
        /*background-image: url("./assets/img/mapa_parana_06.jpg");*/
        padding: 3rem 1rem 2rem 0.5rem;     
    }
    
    #profile p {
        font-size: 0.8rem; /*56px*/
        text-align: justify;
      }
    
    .bname {
        font-size: 1.1rem;
        color: #4D5656;
        font-weight: bold;
    }
    #geolocation{
        margin-top:1rem;
    }

    #tools img{
        width: 4rem;
        margin: 0.3rem;
        transition:all 1.1s ease;
    }

    #tools img:hover{
        transform: scale(125%);
        transition:all 1.1s ease;
        cursor: pointer;
    }

    #tools h3{
        margin-top: 1.6rem;
    }
    #tools h4{
        margin-top: 1rem;
        color: #4D5656;
    }


    .buttonmore{
        width: 100%;
    }
    #slider{
        margin-top:1.5rem;
        margin-right: 1rem;
    }

    /*======README=======*/
    #readme{
        min-height: 640px;
        margin-bottom: 1rem;
        color: #999999;
        font-size: 0.8rem;
    }

    #readme p{
        text-align: justify;
    }

    /*======conctact=======*/
    #contact{
        min-height: 640px;
        padding-top: 6rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 0.8rem;
        color: #999999;
        background-image: url(../src/assets/img/fondo_contacto_06.jpg);
    }

    #redes img{
        width: 3rem;
    }

    #sendMessage{
        width: 100%;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .form-control {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: whitesmoke;
        background-color: #00000094;
        background-clip: padding-box;
        border:1px solid #1d1d1d7e;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius:0%;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    #contactCont{
        padding-top: 3em;
        background-color: #00000063;
    }
    /*======PROJECT=======*/
    #project{
        min-height: 640px;
        margin-bottom: 1.5rem;
        color: #999999;
    }
    .cardsProjects{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .tituloEncabezado{
        min-height: 10rem;
        background-image:url(./assets/img/cabecera_ms_06.jpg);
        padding-top: 5rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        padding-bottom: 0.5rem;
    }

    #project img{
        margin: 0 auto;
        width: 70%;
    }
    /*======geography=======*/
    #geograpyPage{
        min-height: 640px;
        margin-bottom: 1rem;
        color: #999999;
    }
    #geograpyPage span{
        color:#1F618D;
    }

    #geograpyPage p{
        text-align: justify;
        margin-top: 1rem;
    }
    /*===========GEOGRAPHY MAPA=========*/
    
   

    #mapa-mapbox{
        margin-top:0rem;
        width: 100%;
        height: 20rem;
        background-color: rgb(0, 0, 0);
    }
    #mapa-leaflet{
        width: 100%;
        height: 20rem;
    }
    

}

@media (min-width: 361px){
    /* cabecera */
    #cabecera{
        background-image: url("./assets/img/curvas_03.jpg");
        height: 640px;
    }

    #profile{
        min-height: 30rem;
        /*background-image: url("./assets/img/mapa_parana_03.jpg");*/
        padding: 3rem 1rem 3rem 1rem;     
    }
    #geolocation{
        margin-top:1.2rem;
    }

    .buttonmore{
        width: 20rem;
    }

    /*======conctact=======*/
    #contact{
        min-height: 640px;
        padding-top: 6rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 0.8rem;
        color: #999999;
        background-image: url(../src/assets/img/fondo_contacto_lg_06.jpg);
    }

    /*=========TOOLS==========*/
    #tools img{
        width: 4rem;
        margin: 0.8rem;
        transition:all 1.1s ease;
    }

    /*======PROJECT=======*/
    #project{
        min-height: 640px;
        margin-bottom: 3rem;
    }
    .cardsProjects{
        margin-top: 2rem;
        margin-bottom: 1rem;
        
    }

    
    .tituloEncabezado{
        min-height: 15rem;
       
    }

    #project img{
        margin: 0 auto;
        width: 50%;
    }

    /*===========GEOGRAPHY MAPA=========*/
    
    
    #mapa-mapbox{
        margin-top:0rem;
        width: 100%;
        height: 25rem;
        background-color: rgb(24, 24, 24);
    }
    #mapa-leaflet{
        width: 100%;
        height: 25rem;
    }
}

@media (min-width: 768px){
    #profile p {
        font-size: 0.9rem; /*56px*/
      }

    .bname {
        font-size: 1.5rem;
        color: #999999;
        font-weight: bold;
    }

    #geolocation{
        margin-top:0rem;
    }

    .tituloEncabezado{
        min-height: 20rem; 
        background-image:url(./assets/img/cabecera_md_16.jpg);
        padding-top: 8rem;
        padding-left: 6rem;
        padding-right: 6rem;
    }
    
    /*=======separador=========*/
    .separador{
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}




#geolocation p{
    font-size: 0.8rem;
    color: #999999;
    font-style: italic; 
}
#geolocation h4{
    color: #999999;
    
}
.buttonmore{
    padding: 0.5rem 2rem 0.5rem 2rem;
    height: 3rem;
    color:whitesmoke;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    margin:0.2rem 0 0.2rem 0rem;
}




/*footer*/
/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/*section {
    padding: 60px 0;
}*/

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #181818 !important;
    padding: 60px 0;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}





#mapRed {
    width: 20rem;
    height: 20rem;
    margin: 0px auto;
    border: 1px solid red;

    /*width: 1110px;
    height: 619px;*/
}



.mapaTitle{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-div-icon{
    background-image: url('../src/assets/img/alejo_web.png');
    width: 30px;
}

.imgPopup{
    width: 100%;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: #41464b;
    color: #f9fafb;
    box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
}
