<!-- ==================== Footer ====================-->
<section id="footer" >
    <div class="container" >
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="#">About</a></li>
                    <li><a href="#">CV</a></li>
                    <li><a href="#">Readme</a></li>
                    <li><a href="#">Geography</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-4">
                <h5>Social networks</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="#">Linkedin</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Youtube</a></li> 
                    <li><a href="#">Facebook</a></li>
                    
                </ul>
            </div>
            <div class="col-sm-4 col-md-4">
                <h5>Galleries</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="#">Artstation</a></li>
                    <li><a href="#">Devian Art</a></li>
                    <li><a href="#">Dibujando.net</a></li>
                </ul>
            </div>
            
        </div>
        <hr>
        <div class="row mt-6">
            <div class="col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p>Website developed by Alejandro Ronconi. Based on Mobile First, using the Angular Framework complementing with Bootstrap.</p>
                <p class="h6">Paraná - Entre Rios<a class="text-green ml-2" href="https://github.com/aron1984" target="_blank"> {{anio}}</a></p>
            </div>
            <hr>
        </div>	
    </div>
</section>
<!-- ./Footer -->