<div class="container">
    <div id="welcome">
        <h2>Hi, this is my portfolio.<br>
            My name is <span>Alejandro</span>.

        </h2>

        <div id="slider">
            <!--Espacio para el carrusel-->
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                <div class="carousel-item active text-sm-start text-md-center ">
                    <h3 class="pe-md-5 ps-md-5 pt-md-5">I am a <span>web developer</span>, I trained in 
                        graphic design and illustration.
                        I also have a degree in Geography,
                        specialized in GIS.
                    </h3>
                </div>
                <div class="carousel-item text-sm-center text-md-center">
                    <h3 class="pe-md-5 ps-md-5 pt-md-5">I consider myself a Fullstack
                        developer, although <span>I like the
                            front-end</span> a little more because
                        of the design knowledge I acquired.
                    </h3>
                </div>
                <div class="carousel-item text-sm-end text-md-center">
                    <h3 class="pe-md-5 ps-md-5 pt-md-5">I am an illustrator, cartoonist
                        and  comics. I was trained in
                        <span>graphic design</span>, oriented to logos
                        and environments
                          Some are
                        complemented  by 3D design.</h3>
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>


            <button type="button" id="boton-general" [routerLink]="['/contact']">Contact me</button>
        </div>
    </div>
</div>